# Ignore node_modules folders
**/node_modules
node_modules

# Ignore distribution folder
dist

# Ignore build artifacts and logs
npm-debug.log
yarn-error.log
.npm

# Ignore OS-specific files
.DS_Store
Thumbs.db 