include mixins.pug
doctype html
html(lang="ru")
  head
    meta(charset='utf-8')
    script(src='//api.bitrix24.com/api/v1/')
    script(src='assets/js/widget.js')
    title Битрикс24
  body
    h1 Виджет
    .app
        pre#app